*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 1000px;
    background: rgb(255,164,231);
    background: linear-gradient(120deg, rgba(255,164,231,1) 0%, rgba(255,123,220,1) 50%, rgba(255,0,251,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.Card{
    display: flex;
    align-items: center;
    height: 650px;
    width: 400px;
    background-color: white;
    border-radius: 40px;
    flex-direction: column;
}

.BP{
    height: 230px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    width: 400px;
    
}
.avatarholder{

    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    
    display: flex;
    justify-content: center;
    align-items: center;     
}

.CardL{
    height: 500px;
    width: 400px;
    
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -79px;
}

.david{
    margin-top: 25px;
}

h2{
    
    font-family: 'Roboto', sans-serif;
}

.q{
    margin-top:8px;

}

.avatar{
    height: 140px;
    width: 140px;
    border-radius: 100%;
    

}
p{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    opacity: 60%;
}



.h{
    color: rgb(0, 128, 255);
}

.stats{

    display: flex;
    gap: 120px;
    height: 100px;
    align-items: center;
}


.fl{
    display: flex;
    align-items: center;
    flex-direction: column;

}


button{
    background-color: rgb(255, 221, 0);
    color: black;
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}


.skyfall{
    margin-top: 40px;
    width: 300px;
}
